@import url('https://fonts.googleapis.com/css2?family=Brygada+1918:ital,wght@0,400..700;1,400..700&family=Inter:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-heading: 'Brygada 1918', serif;
  --font-body: 'Inter', sans-serif;
}

.container {
  /* max-width: 1200px; */
  max-width: 1400px;
}